.userCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  color: #000;
  text-shadow: 2px 2px 4px rgb(200, 200, 200);
}

.userCard a {
  text-decoration: none;
  color: black;
}
.userCard > div {
  width: 50vw;
  height: 70vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c7c7c7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23bab4a6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
h3 {
  margin: 0;
  font-size: 18px;
}
.userName {
  padding: 2px;
}
.bio {
  font-size: 16px;
  padding: 2px;
}

.userProfile,
.userDetails {
  width: 50%;
  height: 100%;
  margin: 5px;
}
.userDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageStyle {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons > button > a {
  color: #fff;
}
.buttons > button {
  width: 45%;
  padding: 8px 6px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #000;
}

@media screen and (max-width: 850px) {
  .userCard {
    height: auto;
  }
  .userName {
    padding: 10px 0px 0px 0px;
    font-size: 22px;
    font-weight: bold;
  }
  h3 {
    padding: 10px 0px;
    font-size: 18px;
  }

  .userCard > div {
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 0;
  }
  .userProfile,
  .userDetails {
    width: 94%;
    height: auto;
    margin: 0px;
  }
  .userProfile {
    text-align: center;
    height: auto;
    /* min-height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userDetails {
    margin-top: 10px;
  }
  .userDetails > h3 {
    margin-left: 10px;
  }
  .imageStyle {
    width: 70%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .buttons > button > a {
    color: #fff;
  }

  .buttons > button {
    width: 49%;
    padding: 12px 6px;
    background-color: #000;
    margin-bottom: 20%;
  }
}
